.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
}


.correct {
    .flip-card-inner {
        border: 3px solid black;
        transform: rotateY(180deg);
    }
}

.clicked {
    color: sandybrown;

    .flip-card-inner {
        transform: rotateY(180deg);
    }
}

.flip-card {
    margin-bottom: 50px;
    cursor: pointer;
    perspective: 1000px;
    background-color: transparent;
    height: 150px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
//   .flip-card:hover .flip-card-inner {
    
//   }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flip-card-front {
    background-color: rebeccapurple;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .options {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .btn {
        margin-bottom: 10px;
    }
  }

  .button--restart {
      border-radius: 50%;
      color: white;
      font-weight: bold;
      font-size: 18px;
  }

  .button--hint {
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.button--newGame {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.section {
    padding: 100px 0;
    min-height: 100vh;
    margin: 100px 0;
}

.container--home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.section--home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.stats {
    position: absolute;
    left: 5px;
    top: 5px;
    color: #2980b9;
}

.hint {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
@keyframes shake {
10%, 90% {
    transform: translate3d(-1px, 0, 0);
}

20%, 80% {
    transform: translate3d(2px, 0, 0);
}

30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
}

40%, 60% {
    transform: translate3d(4px, 0, 0);
}
}

.info-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    input {
        margin-bottom: 5px;
        width: 100%;
    }
}

.button--wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.input--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}